
*.index
*.meta
*.data-00000-of-00001
saved_networks/checkpoint
README.html
__pycache__/ball.cpython-35.pyc
*.index
*.meta
*.index
*.data-00000-of-00001
*.meta
*.data-00000-of-00001
*.data-00000-of-00001
*.meta
*.data-00000-of-00001
*.index
*.meta
